ALE_MexJet/Service References/wsSyteline/ws_SyteLine13.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ws_SyteLine" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.39/wsMex_Jet_360/wsSiteLine.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.39/wsMex_Jet_360/wsSiteLine.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.39/wsMex_Jet_360/wsSiteLine.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://192.168.1.39/wsMex_Jet_360/wsSiteLine.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ws_SyteLine" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iws_SyteLine_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCodigoUnidad_Uno_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodigoUnidad_Uno" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCodigoUnidad_Uno_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodigoUnidad_UnoResponse" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCodigoUnidad_Dos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodigoUnidad_Dos" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCodigoUnidad_Dos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodigoUnidad_DosResponse" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCodigoUnidad_Tres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodigoUnidad_Tres" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCodigoUnidad_Tres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodigoUnidad_TresResponse" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCodigoUnidad_Cuatro_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodigoUnidad_Cuatro" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCodigoUnidad_Cuatro_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodigoUnidad_CuatroResponse" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCodigoUnidad_Dos_Union_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodigoUnidad_Dos_Union" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCodigoUnidad_Dos_Union_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodigoUnidad_Dos_UnionResponse" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCodigoUnidad_Uno_Vendedor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodigoUnidad_Uno_Vendedor" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCodigoUnidad_Uno_Vendedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodigoUnidad_Uno_VendedorResponse" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCuentasContables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCuentasContables" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCuentasContables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCuentasContablesResponse" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCuentasContablesServicios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCuentasContablesServicios" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetCuentasContablesServicios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCuentasContablesServiciosResponse" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetDescripcion_CodigoUnidadUNO_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDescripcion_CodigoUnidadUNO" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetDescripcion_CodigoUnidadUNO_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDescripcion_CodigoUnidadUNOResponse" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetDescripcion_CodigoUnidadDOS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDescripcion_CodigoUnidadDOS" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetDescripcion_CodigoUnidadDOS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDescripcion_CodigoUnidadDOSResponse" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetDescripcion_CodigoUnidadTRES_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDescripcion_CodigoUnidadTRES" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetDescripcion_CodigoUnidadTRES_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDescripcion_CodigoUnidadTRESResponse" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetDescripcion_CodigoUnidadCUATRO_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDescripcion_CodigoUnidadCUATRO" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetDescripcion_CodigoUnidadCUATRO_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDescripcion_CodigoUnidadCUATROResponse" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetFacturantes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacturantes" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetFacturantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacturantesResponse" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="Iws_SyteLine_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="Iws_SyteLine">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetData" message="tns:Iws_SyteLine_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetDataResponse" message="tns:Iws_SyteLine_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodigoUnidad_Uno">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_Uno" message="tns:Iws_SyteLine_GetCodigoUnidad_Uno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_UnoResponse" message="tns:Iws_SyteLine_GetCodigoUnidad_Uno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodigoUnidad_Dos">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_Dos" message="tns:Iws_SyteLine_GetCodigoUnidad_Dos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_DosResponse" message="tns:Iws_SyteLine_GetCodigoUnidad_Dos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodigoUnidad_Tres">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_Tres" message="tns:Iws_SyteLine_GetCodigoUnidad_Tres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_TresResponse" message="tns:Iws_SyteLine_GetCodigoUnidad_Tres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodigoUnidad_Cuatro">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_Cuatro" message="tns:Iws_SyteLine_GetCodigoUnidad_Cuatro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_CuatroResponse" message="tns:Iws_SyteLine_GetCodigoUnidad_Cuatro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodigoUnidad_Dos_Union">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_Dos_Union" message="tns:Iws_SyteLine_GetCodigoUnidad_Dos_Union_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_Dos_UnionResponse" message="tns:Iws_SyteLine_GetCodigoUnidad_Dos_Union_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodigoUnidad_Uno_Vendedor">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_Uno_Vendedor" message="tns:Iws_SyteLine_GetCodigoUnidad_Uno_Vendedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_Uno_VendedorResponse" message="tns:Iws_SyteLine_GetCodigoUnidad_Uno_Vendedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCuentasContables">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCuentasContables" message="tns:Iws_SyteLine_GetCuentasContables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCuentasContablesResponse" message="tns:Iws_SyteLine_GetCuentasContables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCuentasContablesServicios">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCuentasContablesServicios" message="tns:Iws_SyteLine_GetCuentasContablesServicios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetCuentasContablesServiciosResponse" message="tns:Iws_SyteLine_GetCuentasContablesServicios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDescripcion_CodigoUnidadUNO">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetDescripcion_CodigoUnidadUNO" message="tns:Iws_SyteLine_GetDescripcion_CodigoUnidadUNO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetDescripcion_CodigoUnidadUNOResponse" message="tns:Iws_SyteLine_GetDescripcion_CodigoUnidadUNO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDescripcion_CodigoUnidadDOS">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetDescripcion_CodigoUnidadDOS" message="tns:Iws_SyteLine_GetDescripcion_CodigoUnidadDOS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetDescripcion_CodigoUnidadDOSResponse" message="tns:Iws_SyteLine_GetDescripcion_CodigoUnidadDOS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDescripcion_CodigoUnidadTRES">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetDescripcion_CodigoUnidadTRES" message="tns:Iws_SyteLine_GetDescripcion_CodigoUnidadTRES_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetDescripcion_CodigoUnidadTRESResponse" message="tns:Iws_SyteLine_GetDescripcion_CodigoUnidadTRES_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDescripcion_CodigoUnidadCUATRO">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetDescripcion_CodigoUnidadCUATRO" message="tns:Iws_SyteLine_GetDescripcion_CodigoUnidadCUATRO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetDescripcion_CodigoUnidadCUATROResponse" message="tns:Iws_SyteLine_GetDescripcion_CodigoUnidadCUATRO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacturantes">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetFacturantes" message="tns:Iws_SyteLine_GetFacturantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetFacturantesResponse" message="tns:Iws_SyteLine_GetFacturantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/Iws_SyteLine/GetDataUsingDataContract" message="tns:Iws_SyteLine_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iws_SyteLine/GetDataUsingDataContractResponse" message="tns:Iws_SyteLine_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iws_SyteLine" type="tns:Iws_SyteLine">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodigoUnidad_Uno">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_Uno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodigoUnidad_Dos">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_Dos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodigoUnidad_Tres">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_Tres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodigoUnidad_Cuatro">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_Cuatro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodigoUnidad_Dos_Union">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_Dos_Union" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodigoUnidad_Uno_Vendedor">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetCodigoUnidad_Uno_Vendedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCuentasContables">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetCuentasContables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCuentasContablesServicios">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetCuentasContablesServicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDescripcion_CodigoUnidadUNO">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetDescripcion_CodigoUnidadUNO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDescripcion_CodigoUnidadDOS">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetDescripcion_CodigoUnidadDOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDescripcion_CodigoUnidadTRES">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetDescripcion_CodigoUnidadTRES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDescripcion_CodigoUnidadCUATRO">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetDescripcion_CodigoUnidadCUATRO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacturantes">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetFacturantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/Iws_SyteLine/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_SyteLine">
    <wsdl:port name="BasicHttpBinding_Iws_SyteLine" binding="tns:BasicHttpBinding_Iws_SyteLine">
      <soap:address location="http://192.168.1.39/wsMex_Jet_360/wsSiteLine.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>