ALE_MexJet/Service References/wsSyteline/wsSiteLine7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.231/wsMexJet_Produccion/wsSiteLine.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ws_SyteLine" />
  <xs:import schemaLocation="http://192.168.1.231/wsMexJet_Produccion/wsSiteLine.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ws_SyteLine.Objetos" />
  <xs:import schemaLocation="http://192.168.1.231/wsMexJet_Produccion/wsSiteLine.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodigoUnidad_Uno_Vendedor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodigoUnidad_Uno_VendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodigoUnidad_Uno_VendedorResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCuentasContables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCuentasContablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCuentasContablesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCuentasContablesServicios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCuentasContablesServiciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCuentasContablesServiciosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacturantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sTipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sContrato" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacturantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFacturantesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaFacturante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sFacturante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaFacturanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaFacturanteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sFacturante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumFacturaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ws_SyteLine" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ws_SyteLine" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveArinV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ws_SyteLine.Objetos" minOccurs="0" name="Paso" nillable="true" type="q3:FacturaPaso1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveArinVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveArinVResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveArinVD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ws_SyteLine.Objetos" minOccurs="0" name="Paso" nillable="true" type="q4:FacturaPaso2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveArinVDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveArinVDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveConceptoFacFinanciera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ws_SyteLine.Objetos" minOccurs="0" name="Paso" nillable="true" type="q5:FacturaPaso3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveConceptoFacFinancieraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveConceptoFacFinancieraResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoCuentaFacturacionMXN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sClaveCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtfechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtFechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoCuentaFacturacionMXNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEstadoCuentaFacturacionMXNResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoCuentaFacturacionDLLS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sClaveCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtfechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtFechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoCuentaFacturacionDLLSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEstadoCuentaFacturacionDLLSResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoCuentaResumenNoAcumuladoDLLS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sClaveCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtfechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtFechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoCuentaResumenNoAcumuladoDLLSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEstadoCuentaResumenNoAcumuladoDLLSResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoCuentaResumenNoAcumuladoMXN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sClaveCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtfechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtFechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoCuentaResumenNoAcumuladoMXNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEstadoCuentaResumenNoAcumuladoMXNResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoCuentaResumenAcumuladoDLLS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sClaveCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtfechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtFechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoCuentaResumenAcumuladoDLLSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEstadoCuentaResumenAcumuladoDLLSResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoCuentaResumenAcumuladoMXN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sClaveCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtfechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtFechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoCuentaResumenAcumuladoMXNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEstadoCuentaResumenAcumuladoMXNResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaEstatusCancelacionFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNumFactura" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaEstatusCancelacionFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaEstatusCancelacionFacturaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovimientosAnterioresEdoCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sClaveCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtFechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovimientosAnterioresEdoCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMovimientosAnterioresEdoCuentaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperaTipoCambio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperaTipoCambioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecuperaTipoCambioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperaTipoCambioFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperaTipoCambioFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecuperaTipoCambioFechaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacturasTabulado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sTiposFactura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtFechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtFechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacturasTabuladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFacturasTabuladoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneraSolicitudVuelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sClaveContrato" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sNombreContacto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sCorreoContacto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iIdMotivo" type="xs:int" />
        <xs:element minOccurs="0" name="iOrigen" type="xs:int" />
        <xs:element minOccurs="0" name="sMatricula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iIdTipoEquipo" type="xs:int" />
        <xs:element minOccurs="0" name="sNotasVuelo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneraSolicitudVueloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeneraSolicitudVueloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneraPiernas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="sAeropuertoOrigen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAeropuertoDestino" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtFechaVuelo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sHoraVuelo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iPasajeros" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneraPiernasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeneraPiernasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaSolicitudVuelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdSolicitud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaSolicitudVueloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelaSolicitudVueloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaSolicitudVuelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdSolicitud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaSolicitudVueloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaSolicitudVueloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaPiernas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdTramo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaPiernasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaPiernasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaPiernas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdTramo" type="xs:int" />
        <xs:element minOccurs="0" name="iIdSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="sAeropuertoOrigen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAeropuertoDestino" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtFechaVuelo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sHoraVuelo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iPasajeros" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaPiernasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaPiernasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="iIdTipoEquipo" type="xs:int" />
        <xs:element minOccurs="0" name="sNotasVuelo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaSolicitudResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaPreferenciasClienteAPP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sClaveContrato" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaPreferenciasClienteAPPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaPreferenciasClienteAPPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaCasosClienteAPP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sClaveContrato" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaCasosClienteAPPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaCasosClienteAPPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformacionFlightPak">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sQuery" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="oArrFiltros" nillable="true" type="q6:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformacionFlightPakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInformacionFlightPakResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformacionVuelosFerrys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformacionVuelosFerrysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInformacionVuelosFerrysResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCambiaEstatusFerry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCadJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCambiaEstatusFerryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCambiaEstatusFerryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProcesaJSON">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iOpcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProcesaJSONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetProcesaJSONResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtienePromedioVuelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdGrupoModelo" type="xs:int" />
        <xs:element minOccurs="0" name="sOrigenICAO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sDestinoICAO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtienePromedioVueloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtienePromedioVueloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneDatosPilotoPorClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sClave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneDatosPilotoPorClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtieneDatosPilotoPorClaveResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneEstatusPiloto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCorreo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneEstatusPilotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtieneEstatusPilotoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneVuelosPorPiloto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sClavePiloto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneVuelosPorPilotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtieneVuelosPorPilotoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneVuelosPorRangoDeFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sFechaInicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sFechaFin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneVuelosPorRangoDeFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtieneVuelosPorRangoDeFechasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaCuentaConceptoII">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cuenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaCuentaConceptoIIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaCuentaConceptoIIResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaPais">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaPaisResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaEstadoPorPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdPais" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaEstadoPorPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaEstadoPorPaisResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreguntasEncuesta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreguntasEncuestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPreguntasEncuestaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecibeLlamadaConmutador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCadJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecibeLlamadaConmutadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRecibeLlamadaConmutadorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneEstatusUsuarioCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneEstatusUsuarioCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtieneEstatusUsuarioCMResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMatriculasPorUsuarioCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCorreo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMatriculasPorUsuarioCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtieneMatriculasPorUsuarioCMResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneWOporMatriculaCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sKeyMatricula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneWOporMatriculaCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtieneWOporMatriculaCMResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneDetalleWO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sKeyWO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sBase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneDetalleWOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtieneDetalleWOResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneListadoCotizaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sKeyMatricula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneListadoCotizacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtieneListadoCotizacionesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneDetalleCotizaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sKeyWOQ" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sNumeroWO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sBase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneDetalleCotizacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtieneDetalleCotizacionesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneVuelosSabanaRangoDeFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sFechaInicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sFechaFin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneVuelosSabanaRangoDeFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtieneVuelosSabanaRangoDeFechasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneEstadoDeCuentaCorridor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sRFC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneEstadoDeCuentaCorridorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtieneEstadoDeCuentaCorridorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaCorreoWorkOrdersCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sJSON" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaCorreoWorkOrdersCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviaCorreoWorkOrdersCMResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>