ALE_MexJet/Service References/wsSyteline/wsSiteLine11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ws_SyteLine.Objetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ws_SyteLine.Objetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FacturaPaso1">
    <xs:sequence>
      <xs:element minOccurs="0" name="DtFechaRegreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DtFechaSalida" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TipoFactura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UfMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UfModelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ufremision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ufruta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ufserie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dExch_rate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dSales_tax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dtDueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dtInvDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="sAcct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sAcct_unit3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sAcct_unit4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sFacturante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sFormaPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sInvNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sMetodoPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sMoneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sSucursal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sTax_code1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sUsoCFDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacturaPaso1" nillable="true" type="tns:FacturaPaso1" />
  <xs:complexType name="FacturaPaso2">
    <xs:sequence>
      <xs:element minOccurs="0" name="dAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dDescuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="iCantidad" type="xs:int" />
      <xs:element minOccurs="0" name="iDistSeq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="iIdFactura" type="xs:int" />
      <xs:element minOccurs="0" name="iTaxSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sAcct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sAcct_unit1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sAcct_unit2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sAcct_unit3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sAcct_unit4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sAcct_unit5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sAlmacen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sCodigoBarras" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sConceptoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sFacturante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sInvNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sTax_code1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacturaPaso2" nillable="true" type="tns:FacturaPaso2" />
  <xs:complexType name="FacturaPaso3">
    <xs:sequence>
      <xs:element minOccurs="0" name="NoteExist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dQty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iIsWorkflow" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sInvNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sdescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacturaPaso3" nillable="true" type="tns:FacturaPaso3" />
</xs:schema>